<div class="jumbotron">
  <h1>Listing All Boards</h1>
</div>

<div id="columns">
  <% @boards.each do |board| %>
    <div class="item-background">
      <div class="item-info">
        <h2><%= board.name rescue "N/A" %></h2>
        <h4>Description: <%= board.about %></h4>
        <h4>Board Creator: <%= board.user.full_name rescue "N/A" %></h4>
      </div>
      <div class="item-links">
        <%= link_to 'Show', board %>
        <%= link_to 'Edit', edit_board_path(board) %>
        <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>   

<br>

<div id="navbar2">
  <table>
    <td><%= link_to 'Delete All Boards', Board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'New Board', new_board_path %></td>
  </table>
</div>