<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @board.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user.full_name rescue "N/A" %>
</p>

<div id="navbar2">
	<table>
		<td><%= link_to 'Edit', edit_board_path(@board) %></td>
		<td><%= link_to 'Back', boards_path %></td>
	</table>
</div>
